@import "font";
@import "theme";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}